.story-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.story-upper h1 {
  font-size: 3rem;
}

.story-logo {
  max-height: 100px;
  z-index: 100;
  position: absolute;
}

.slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Matches the viewport height */
  width: 100%; /* Adjusted to 100% of container width */
  text-align: center;
  font-size: 4vw; /* Font size adjusts with the screen width */
  font-weight: bold;
  transition: font-size 0.3s ease; /* Smooth font resizing */
}

/* Horizontal container setup */
.story-flex {
  display: flex;
  flex-direction: row;
}

.h-screen {
  height: 100vh;
}

.w-screen {
  width: 100vw;
}

/* Specific slide colors */
.story-flex .story-slide:nth-child(1) {
  background-color: blue;
  color: white;
}

.story-flex .story-slide:nth-child(2) {
  background-color: red;
  color: white;
}

.story-flex .story-slide:nth-child(3) {
  background-color: green;
  color: white;
}

.story-flex .story-slide:nth-child(4) {
  background-color: yellow;
  color: black;
}


.story-flex .story-slide:nth-child(4) {
  background-color: yellow;
  color: black;
}

@keyframes cursor {
  50% {border-color: transparent;}
}

@keyframes typing {
  from {width: 0;}
}



/* Responsive adjustments */
@media (max-width: 768px) {
  .story-flex {
    flex-direction: column; /* Switch to vertical layout on smaller screens */
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: hidden; /* Disable horizontal scrolling */
  }

  .story-slide {
    width: 100vw; /* Full width for vertical layout */
    height: 100vh; /* Full height for each slide */
    font-size: 6vw; /* Larger font size for smaller screens */
  }
}

@media (max-width: 480px) {
  .slide {
    font-size: 8vw; /* Even larger font size for very small screens */
  }
}


#story-container {
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
}

.story-horizontal-section {
  background-color: black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.story-horizontal-section:nth-child(1) {
  background-color: red;
}

.story-heading {
  font-family: "Oswald", sans-serif;
  font-size: 8vw;
  font-weight: 300;
  color: white;
  letter-spacing: 1vw;
  text-transform: uppercase;
}

/* Mobile Styles */
@media (max-width: 767px) {
  #story-container {
    flex-direction: column; /* Stack sections vertically */
    width: 100%; /* Ensure full width */
    height: auto; /* Allow natural height */
  }

  .story-horizontal-section {
    width: 100%; /* Full width */
    height: 100vh; /* Full height */
  }

  .story-heading {
    font-size: 12vw; /* Adjust font size for mobile */
  }
}
