.face-qs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5vh;
}

.grid-container {
  margin: 10px 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 5vh;
}

.form-button-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

.form-button-container-in {
  margin: 0;
  display: flex;
  gap: 5px;
}

.form-button-container-in button {
  border: none;
  border-radius: 25%;
  color: #374F2F;
  background-color: #779C6C;
  height: 3rem;
  width: 3rem;
  font-size: 2rem;
}

.quiz-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    font-family: 'Alegreya Sans';
  }

  .quiz-grid div:nth-child(odd){
    background-color: #374F2F;
    color: var(--white);
  }

  .quiz-grid div:nth-child(even){
    background-color: #779C6C;
  }

  .quiz-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--main-color);
    font-size: 20px;
    line-height: normal;
    text-align: center;
    border-radius: 5px;
    padding: 2rem 1rem;
  }

  .quiz-box p {
    margin: 5px auto;
  }


/*horizontal*/

.scroll-section-outer {
  overflow: hidden;
}

.scroll-section-inner {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 100vh;
  gap: 10vw;
  padding: 0 10vw;
  width: 2250vw;

}

.scroll-section {
  background-color: burlywood;
  height: 100vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quiz-button {
  padding: 5px;
  background-color: #a3ca97;
  border-radius: 5px;
  font-size: 1.5rem;
}

.camera-buttons {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  justify-content: center;
  align-items: center;
}

.quiz-headings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}