.face-qs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5vh;
}

.face-qs video {
  transform: rotateY(180deg);
  -webkit-transform:rotateY(180deg)
}

.grid-container {
  margin: 10px 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 5vh;
}

.form-button-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

.form-button-container-in {
  margin: 0;
  display: flex;
  gap: 5px;
}

.form-button-container-in button {
  border: none;
  border-radius: 25%;
  color: #374F2F;
  background-color: #779C6C;
  height: 3rem;
  width: 3rem;
  font-size: 2rem;
}

.quiz-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    font-family: 'Alegreya Sans';
  }

  .quiz-grid div:nth-child(odd){
    background-color: #374F2F;
    color: var(--white);
  }

  .quiz-grid div:nth-child(even){
    background-color: #779C6C;
  }

  .quiz-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--main-color);
    font-size: 20px;
    line-height: normal;
    text-align: center;
    border-radius: 5px;
    padding: 2rem 1rem;
  }

  .quiz-box p {
    margin: 5px auto;
  }