/*header*/
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #EBE6CF;
    background-size: cover;
    color: #172324;
    font-family: "new", serif;
    font-weight: 400;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 11.5%;
}

.left-header img {
    height: 100%;
    max-height: 100px;
}

.right-header-ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    column-gap: 1.5rem;
}

.right-header-ul li {
    font-size: 1.5rem;
}

.right-header-ul li a {
    text-decoration: none;
    color: #000;
}

/*hero*/
.hero {
    padding: 0 11.5%;
    display: flex;
    justify-content: space-between;
    margin: 5vh 0;
}

.hero-title {
  display: flex;
  flex-direction: column;
}

.hero-title img {
  max-width: 15rem;
  transform: scale(1);
  transition: transform 1s ease;
  margin-left: -1.5rem;
  margin-bottom: -2rem;
  transform: rotate(-5deg);
}

.hero-title img:hover{
  transform: scale(1.1) rotate(-5deg);
}

.hero-middle {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    text-align: center;
    gap:0;
}

.hero-middle h1 {
    font-family: "Alegreya Sans", serif;
    font-weight: 900;
    font-size: 20rem;
    line-height: 1ch;
    margin: 0;
}

.hero-middle h2{
  max-width: 50ch;
  font-size: 2rem;
  font-family: "Alegreya", serif;
  font-weight: 400;
  margin: 3rem 0;
}

.hero-left img, .hero-right img {
    max-width: 16.5rem;
}

/*feartures*/
#features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  margin: 0 15vw;
  gap: 1rem;
}

.feature-box {
  padding: 2rem 0;
  background: rgb(245,242,228);
  background: linear-gradient(145deg, rgba(245,242,228,1) 0%, rgba(246,245,235,1) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
}

.feature-box img{
  max-height: 50%;
}

#features .feature-box:first-child {
  grid-column: span 2;
}

#features .feature-box:first-child img {
  max-width: 50%;
  max-height: 100%;
}


/*cta*/
.cta{
  padding: 5rem 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cta a {
  width: 50%;
}

.cta img {
  width: 100%;
}

/*footer*/
footer {
  padding: 3vh 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer-middle img {
  max-width: 100px;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  text-align: end;
}

.footer-nav:first-of-type {
  text-align: start;
}

.footer-nav a {
  text-decoration: none;
  color: #172324;
  font-size: 1.5rem;
}