/*header*/
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('../img/wave_background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #D5D1B7;
    color: #172324;
    font-family: "Alegreya", serif;
    font-weight: 400;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 11.5%;
}

.left-header img {
    height: 100%;
    max-height: 100px;
}

.right-header-ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    column-gap: 1.5rem;
}

.right-header-ul li {
    font-size: 1.5rem;
}

.right-header-ul li a {
    text-decoration: none;
    color: #000;
}

/*hero*/
.hero {
    padding: 0 11.5%;
    display: flex;
    justify-content: space-between;
    margin: 5vh 0;
}

.hero-title {
  display: flex;
  flex-direction: column;
}

.hero-title img {
  max-width: 15rem;
  transform: scale(1);
  transition: transform 1s ease;
  margin-left: -1rem;
}

.hero-title img:hover{
  transform: scale(1.1);
}

.hero-middle {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    text-align: center;
    gap:0;
}

.hero-middle h1 {
    font-family: "Alegreya Sans", serif;
    font-weight: 900;
    font-size: 20rem;
    line-height: 1ch;
    margin: 0;
}

.hero-middle h2{
  max-width: 50ch;
  font-size: 2rem;
  font-family: "Alegreya", serif;
  font-weight: 400;
  margin: 3rem 0;
}

.hero-left img, .hero-right img {
    max-width: 16.5rem;
}

/*face*/

.face {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
  padding: 0 20%;
}

#large-face-box {
  grid-column: 2 / span 2;
  grid-row: 1 / span 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

#large-face-box img {
  max-width: 30vw;
}

#face-box-1 {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

#face-box-2 {
  grid-column: 4 / span 1;
  grid-row: 1 / span 1;
}

#face-box-3 {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}

#face-box-4 {
  grid-column: 4 / span 1;
  grid-row: 2 / span 1;
}

#face-box-5 {
  grid-column: 2 / span 1;
  grid-row: 4 / span 1;
}

#face-box-6 {
  grid-column: 3 / span 1;
  grid-row: 4 / span 1;
}

.face-box {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    align-items: center;
    justify-content: center;
}

.face-box-title {
  text-align: center;
  font-size: 1.15rem;
  margin: 0;
}

.face-box img {
  max-width: 5rem;
}

/*cta*/
.cta{
  padding: 5rem 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cta a {
  width: 50%;
}

.cta img {
  width: 100%;
}

/*footer*/
footer {
  padding: 3vh 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer-middle img {
  max-width: 100px;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  text-align: end;
}

.footer-nav:first-of-type {
  text-align: start;
}

.footer-nav a {
  text-decoration: none;
  color: #172324;
  font-size: 1.5rem;
}