.face-qs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.face-qs h1 {
    font-family: "Alegreya Sans", serif;
}

.quiz-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    gap: 10px; /* Adjust spacing between boxes */
    min-height: 100vh; /* Minimum height of the viewport */
    padding: 0 15%;
  }
  
  .quiz-box {
    background-color: #36573a; /* Default dark green background */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 16px;
    font-family: Arial, sans-serif;
    border-radius: 5px; /* Optional: add rounded corners */
  }
  
  #quiz-box-one {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }
  
  #quiz-box-two {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  
  #quiz-box-three {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }
  
  #quiz-box-four {
    grid-column: 4 / 5;
    grid-row: 1 / 3;
  }
  
  #quiz-box-five {
    grid-column: 1 / 2;
    grid-row: 3 / 5;
  }
  
  #quiz-box-six {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
  }
  
  #quiz-box-seven {
    grid-column: 2 / 5;
    grid-row: 4 / 5;
  }
  
  #quiz-box-eight {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
  }
  
  #quiz-box-nine {
    grid-column: 2 / 4;
    grid-row: 2 / 4;
  }
  