.App {
  text-align: center;
}

.webcam-container {
  width: 100%; /* This will make the webcam width scale with the screen */
  max-width: 1000px; /* Optional: set a max width */
  margin: 0 auto; /* Center the webcam horizontally */
}

.webcam {
  width: 100%; /* Ensure the webcam fits within the container */
  height: auto; /* Maintain aspect ratio */
}

button {
  margin-top: 20px;
}

.captured-image {
  margin-top: 20px;
  width: 100%; /* Make the captured image responsive as well */
  max-width: 600px; /* Optional: set a max width for the image */
  height: auto;
}